$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Pacifico);

$white: #FFF;
$pacifico: 'Pacifico', cursive;

/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a{
    margin: 0 20px;
    color: $white;
    font-family: $pacifico;
    text-decoration: none;
    font-size: 30px;
  }
}

.border2{
  border:2px solid $white;
  margin-bottom:0px;
}

.border3{
  margin-top: 5px;
  border:3px solid $white;
}

.content-block{
  position: relative;
  min-height: 300px;
}

.page        {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.img-logo {
  border: 8px solid $white;
  margin: 30px 0 10px 0;
}

.page h1    { font-size:60px; }
.page a     { margin-top:50px; }

/* PAGES (specific colors for each page)
============================================================================= */
.page-home      { background:rgba(0, 208, 188, 0.85); color:#00907c; }
.page-about     { background:rgba(229, 148, 0, 0.85); color:#a55400; }
.page-contact   { background:rgba(158, 0, 0, 0.85); color:#9e0000; }

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-enter         { animation: scaleUp 0.5s both ease-in; }
.page-home.ng-leave         { animation:slideOutLeft 0.5s both ease-in; }

/* about ------------------------ */
.page-about.ng-enter        { animation: scaleUp 0.5s both ease-in; }
.page-about.ng-leave        { animation:slideOutLeft 0.5s both ease-in; }


/* ProgressBar
====================================== */

$barColor: tomato;
$overlayColor: #fffde8;
$backColor: #2f3439;

.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $barColor; // default 100%
}
/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: $overlayColor;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}

$step: 5;

$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);
@for $i from 0 through $loops {
  .progress-#{$i*$step} {
    @if $i < $half {
      $nextdeg: 90deg + ( $increment * $i );
      background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor);
    } @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );
      background-image: linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent), linear-gradient(270deg, $barColor 50%, $backColor 50%, $backColor);
    }
  }
}
/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
